@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body{
    font-family: 'Courgette', cursive;
}
#navbar{
    background-image: url("https://bit.ly/39OarQ4");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
